http_client_get should not send Content-Type if there is no body

While there is no RFC that prohibits Content-Type from being sent with a GET request, RFC 7231 section 3.1.1.5 and RFC 9110 section 8.3 both state that "A sender that generates **a message containing content** SHOULD generate a Content-Type header field in that message[...]". 

The problem is some API endpoints do not allow the use of the Body Values and Content-Type header for GET requests (a lesser known security practice from avoid attempts to get the endpoint to process arbitrary data instead of parameterized values in the URL), as content should not be sent during a GET operation, but instead be a POST operation.

Suggested solution: Put a condition in the code that IF the body is a null/empty value, then Content-Type is not added to the GET request. IF the body is a non-null/not empty value, then allow the Content-Type to be set defaulting to it's current value of text/plain.